<section id="activity" class="aligns-items-center">
    <div>
        <h2>
            Zambales Tourist Spots Perfect for Solo and Group Travelers
        </h2>
        <p class="activity__text">
            With countless beautiful Zambales tourist spots to see, enticing islands near the West Philippine Sea, delicious treats not to miss, and a good mix of chill and thrilling activities, Zambales has become a go-to destination for weekend travelers.
        </p>
    </div>
    <div class="row card-container">
            <div class="card col-lg-3 ms-auto" style="width: 18rem;">
              <img src="http://subicdive.com/wp-content/uploads/2019/04/jetnovator.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Water Activities</h5>
                  <p class="card-text">Enjoy water sports activities besides swimming during your Zambales vacation.</p>
                  <a href="http://www.networxjetsports.com.ph/#close" class="btn btn-primary">Visit Networx Jetsports</a>
                </div>
            </div>
          <div class="card col-lg-3 ms-auto" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCt8YJkkK_OH-XeDwdlSDDKyZ_PMmN_WLtOQ&usqp=CAU" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hiking</h5>
              <p class="card-text">Home to two of the top hiking spots in the Philippines.</p>
              <a href="https://www.alltrails.com/philippines/zambales" class="btn btn-primary">Visit AllTrails</a>
            </div>
          </div>
          <div class="card col-lg-3 ms-auto" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKq7OTIl_L2iGlbn6-xvYOOyrRTtShm8qgoQ&usqp=CAU" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camping</h5>
              <p class="card-text">offers a variety of places to camp or glamp by the sea.</p>
              <a href="https://wanderera.com/zambales-camping-spots/" class="btn btn-primary">visit Wanderera.com</a>
            </div>
        </div>
          <div class="card col-lg-3 ms-auto" style="width: 18rem;">
            <img src="https://2.bp.blogspot.com/-kxT3ZfoA_yI/WwxiHqDcHtI/AAAAAAAAPBg/7tgULpyU55gDYaMqlO_O_yUYgbRKYBGngCLcBGAs/s1600/DSCF7730_1-01.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Floating Theme Park</h5>
              <p class="card-text">have a memorable day out exploring the floating playgrounds.</p>
              <a href="https://www.klook.com/en-PH/activity/8402-inflatable-island-subic-manila/" class="btn btn-primary">Visit Klook</a>
            </div>
          </div>
    </div>
</section>
<!-- Activity -->
